extends layout

block content
  h1= title
  p Bienvenido al juego dados para múltiples jugadores.
  p ¡Vamos apuesta y gana!
  p ¿Estamos listos?
  p ¡Empecemos! 
  p
  input(id='createBtn', type='button', value='Crear', onclick="location.href='http://localhost:8080/createGame'")


